<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Email Template</h1>

<form th:action="@{/send-email}" method="post">


    <label for="subject">Subject:</label>
    <input type="text" id="subject" name="subject" th:value="${defaultSubject}" required>

    <textarea name="message" rows="10" cols="50" required>
            Hi Guys,This is from INFOTRIXS.

            This is a Simple email

            Best regards,
            Your Name
        </textarea>

    <input type="submit" value="Send Email">
</form>
</body>
</html>